.tabs-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.label {
  font-weight: bold;
}

.item-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
}
